<%= link_to 'Back to Home', incidents_path %> |
<%= link_to 'Edit', edit_profile_path(@profile) %> 

<hr />
<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Department:</b>
  <%= @profile.department %>
</p>

<p>
  <b>Street:</b>
  <%= @profile.street %>
</p>

<p>
  <b>City:</b>
  <%= @profile.city %>
</p>

<p>
  <b>State:</b>
  <%= @profile.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @profile.zipcode %>
</p>

<p>
  <b>Phone:</b>
  <%= @profile.phone %>
</p>
