<p id="notice"><%= notice %></p>

<p>
  <b>Names:</b>
  <%= @ladder_truck150.names %>
</p>

<p>
  <b>First hour:</b>
  <%= @ladder_truck150.first_hour %>
</p>

<p>
  <b>Additional hours:</b>
  <%= @ladder_truck150.additional_hours %>
</p>

<p>
  <b>Total hours:</b>
  <%= @ladder_truck150.total_hours %>
</p>

<p>
  <b>Hazmat hours:</b>
  <%= @ladder_truck150.hazmat_hours %>
</p>

<p>
  <b>Rate1:</b>
  <%= @ladder_truck150.rate1 %>
</p>

<p>
  <b>Rate2:</b>
  <%= @ladder_truck150.rate2 %>
</p>

<p>
  <b>Timesheet:</b>
  <%= @ladder_truck150.timesheet_id %>
</p>

<p>
  <b>Report nr:</b>
  <%= @ladder_truck150.report_nr %>
</p>


<%= link_to 'Edit', edit_ladder_truck150_path(@ladder_truck150) %> |
<%= link_to 'Back', ladder_truck150s_path %>
