
<div style="text-align:left;">
<h1 style="color:#333333"><%= current_user.profile.department %></h1>
<h2>Cost Recovery Dashboard</h2>
</div>

<div style="margin-bottom:20px;">
<hr />
<p><%= link_to 'Change Your Email/Login', edit_user_path(current_user) %> | <%= link_to 'Change Your Profile', edit_profile_path(current_user) %> | <a href="#">Frequently Asked Questions</a> | <a href="#">Contact Us</a> <span style="float:right;"><%= link_to 'Logout', logout_path %></span></p>
<hr />
</div>

<div id="header">
<%= link_to 'Click here to submit a new incident report', new_incident_path %>
</div>

<div style="margin-top:20px;" id="incidentlist">
<table>
  <tr>
    <th>Incident Date</th>
	<th>Incident Report Number</th>
    <th>Location</th>
	<th>Claim status</th>
    <th></th>
    <th></th>
	<th></th>
  </tr>

<% @incidents.each do |incident| %>
  <tr>
    <td><%= incident.truncated_time %></td>
	<td><%= link_to incident.report_nr, incident %></td>
	<td><%= incident.location %></td>
	<% if incident.status == "In Progress" %>
	<td><font color="#ff9600"><%= incident.status %></font></td>
	<% else %>
	<td><font color="green"><%= incident.status %></font></td>
	<% end %>
    <td><%= link_to 'View Time Sheet', incident_timesheet_path(incident) %></td>
	<% if current_user.admin == "yes" %>
	<td><%= link_to 'Delete Incident', incident, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>
</div>