
<div style="text-align:left;float:left">
<h1 style="color:#333333"><%= current_user.profile.department %></h1>
<h2>Cost Recovery Control Panel</h2>
</div>

<div style="float:right;">
<%= image_tag "irstlogo.png", :alt => 'Immediate Response Spill Technologies', :size => '175x75', :style => 'margin-bottom:0px' %>
</div>

<div style="clear:both;" />

<div style="margin-bottom:20px;">
<hr />
<p>
<% if current_user.admin != "yes" %>
<%= link_to 'Change Your Email/Login', edit_user_path(current_user) %> | <%= link_to 'Change Your Profile', edit_profile_path(current_user.profile.id) %> | <a href="mailto:tom@ciagent.com">Email Us</a><span style="float:right;"><% end %><%= link_to 'Logout', logout_path %></span></p>
<hr />
</div>


<div id="header">
<div style="float:left;"><%= image_tag "new.png", :alt => 'Submit a New Incident Report', :style => 'margin-right:5px' %></div><div style="float:left;"> <%= link_to 'Click here to submit a new incident', new_incident_path %></div>
</div>

<% if Incident.count != 0 %>

<div style="margin-top:20px;" id="incidentlist">
<table>
  <tr>
    <th>Incident Date</th>
	<th>Incident Report Number</th>
    <th>Location</th>
	<th>Status</th>
    <th></th>
    <th></th>
	<th></th>
  </tr>

<% @incidents.each do |incident| %>
  <tr>
    <td><%= incident.truncated_time %></td>
	<td><%= link_to incident.report_nr, incident %></td>
	<td><%= incident.location %></td>
	<% if incident.status == "In Progress" %>
	<td><font color="#ff9600"><%= incident.status %></font></td>
	<% end %>
	<% if incident.status == "Completed" %>
	<td><font color="green"><%= incident.status %></font></td>
	<% end %>
	<% if incident.status == "Received" %>
	<td><font color="#ff9600"><%= incident.status %></font></td>
	<% end %>
    <td><%= link_to 'View Time Sheet', incident_timesheet_path(incident) %></td>
	<td><%= link_to 'Delete Incident', incident, :confirm => 'Are you sure?', :method => :delete %></td>
	 </tr>
<% end %>
</table>
</div>

<% else %>
<p><center>Your incidents will be listed here after you add the first one.</center></p>
<% end %>