<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ladder_truck75.name %>
</p>

<p>
  <b>First hour:</b>
  <%= @ladder_truck75.first_hour %>
</p>

<p>
  <b>Additional hours:</b>
  <%= @ladder_truck75.additional_hours %>
</p>

<p>
  <b>Total hours:</b>
  <%= @ladder_truck75.total_hours %>
</p>

<p>
  <b>Hazmat hours:</b>
  <%= @ladder_truck75.hazmat_hours %>
</p>

<p>
  <b>Rate1:</b>
  <%= @ladder_truck75.rate1 %>
</p>

<p>
  <b>Rate2:</b>
  <%= @ladder_truck75.rate2 %>
</p>

<p>
  <b>Timesheet:</b>
  <%= @ladder_truck75.timesheet_id %>
</p>

<p>
  <b>Report nr:</b>
  <%= @ladder_truck75.report_nr %>
</p>


<%= link_to 'Edit', edit_ladder_truck75_path(@ladder_truck75) %> |
<%= link_to 'Back', ladder_truck75s_path %>
