<div style="float:left;padding:25px;">
<p><%= link_to "Add a Command Officer", new_incident_timesheet_command_officer_path %></p>
<p><%= link_to "Add a Fire Chief", new_incident_timesheet_fire_chief_path %></p>
<p><%= link_to "Add a Fire Fighter", new_incident_timesheet_fire_fighter_path %></p>
</div>
<div style="float:left;padding:25px;">
<p><%= link_to "Add a Safety Officer", new_incident_timesheet_safety_officer_path %></p>
<p><%= link_to "Add an EMT", new_incident_timesheet_emt_path %></p>
<p><%= link_to "Add a Hazmat Specialist", new_incident_timesheet_hazmat_specialist_path %></p>
</div>
<div style="float:left;padding:25px;">
<p><%= link_to "Add a Command Vehicle", new_incident_timesheet_command_vehicle_path %></p>
<p><%= link_to "Add an Engine", new_incident_timesheet_engine_path %></p>
<p><%= link_to "Add an Emergency Support", new_incident_timesheet_emergency_support_path %></p>
</div>
<div style="float:left;padding:25px;">
<p><%= link_to "Add a Hazmat Unit", new_incident_timesheet_hazmat_unit_path %></p>
<p><%= link_to "Add a Field Unit", new_incident_timesheet_field_unit_path %></p>
<p><%= link_to "Add a Pumper", new_incident_timesheet_pumper_path %></p>
</div>
<div style="float:left;padding:25px;">
<p><%= link_to "Add a Tanker", new_incident_timesheet_tanker_path %></p>
<p><%= link_to "Add a Rescue Unit", new_incident_timesheet_rescue_unit_path %></p>
<p><%= link_to "Add a Ladder Truck 75'", new_incident_timesheet_ladder_truck75_path %></p>
</div>
<div style="float:left;padding:25px;">
<p><%= link_to "Add a Ladder Truck 150'", new_incident_timesheet_ladder_truck150_path %></p>
</div>

<div style="clear:both;"></div>

<hr />
<h1>Add Materials Used</h1>
<hr />

<div style="float:left;padding:25px;">
<p><%= link_to "Select Materials Used", edit_incident_mat_list_path %></p>
</div>