<%= link_to 'Add Personnel', edit_incident_timesheet_path %> |
<%= link_to 'Edit Materials', edit_incident_mat_list_path %>


<hr />
<div style="height:20px;"></div>

<% if current_user.admin == "yes" %>
<center>
<img src="<%= @incident.user.logo %>" /> <strong><%= @incident.user.profile.department %></strong>
</center>
<% end %>

<hr />

<h1>Personnel <%= link_to '(add more)', edit_incident_timesheet_path, :style => "color:red;font-size:18px;" %></h1>


<table border="0" bordercolor="#000000" style="background-color:#FFF" width="100%" cellpadding="3" cellspacing="3">

  
	<% if @timesheet.command_officer.count > 0 %>
	<% @timesheet.command_officer.each do |co| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Command Officer</td>
		<td>First Hour ($<%= co.rate1 %>)</td>
		<td>Additional Hours ($<%= co.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		</tr>
	<tr>
		<td><%= co.name %><div style="float:right;"> <div style="float:left"><%= button_to "Edit", edit_incident_timesheet_command_officer_path(params[:incident_id], co.id), :method => :get %></div><div style="float:left"> <%= button_to "Delete", incident_timesheet_command_officer_path(params[:incident_id], co.id), :confirm => "Are you sure you want to delete this Command Officer?", :method => :delete %></div></div> </td>
		<td><%= co.first_hour %></td>
		<td><%= co.additional_hours %></td>
		<td><%= co.total_hours %></td>
		<td><%= co.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= co.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>

	<% if @timesheet.fire_chief.count > 0 %>
	<% @timesheet.fire_chief.each do |fc| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Fire Chief</td>
		<td>First Hour ($<%= fc.rate1 %>)</td>
		<td>Additional Hours ($<%= fc.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= fc.name %> <div style="float:right"><div style="float:left"><%= button_to "Edit", edit_incident_timesheet_fire_chief_path(params[:incident_id], fc.id), :method => :get %></div><div style="float:left"><%= button_to "Delete", incident_timesheet_fire_chief_path(params[:incident_id], fc.id), :confirm => "Are you sure you want to delete this Fire Chief?", :method => :delete %> </div></div></td>
		<td><%= fc.first_hour %></td>
		<td><%= fc.additional_hours %></td>
		<td><%= fc.total_hours %></td>
		<td><%= fc.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= fc.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.fire_fighters.count > 0 %>
	<% @timesheet.fire_fighters.each do |ff| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Fire Fighter</td>
		<td>First Hour ($<%= ff.rate1 %>)</td>
		<td>Additional Hours ($<%= ff.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= ff.name %> <div style="float:right"><div style="float:left"><%= button_to "Edit", edit_incident_timesheet_fire_fighter_path(params[:incident_id], ff.id), :method => :get %></div> <div style="float:left"><%= button_to "Delete", incident_timesheet_fire_fighter_path(params[:incident_id], ff.id), :confirm => "Are you sure you want to delete this Fire Fighter?", :controller => 'fire_fighters', :method => :delete %></div></div></td>
		<td><%= ff.first_hour %></td>
		<td><%= ff.additional_hours %></td>
		<td><%= ff.total_hours %></td>
		<td><%= ff.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= ff.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.safety_officer.count > 0 %>
	<% @timesheet.safety_officer.each do |so| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Safety Officer</td>
		<td>First Hour ($<%= so.rate1 %>)</td>
		<td>Additional Hours ($<%= so.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= so.name %><div style="float:right"> <div style="float:left"><%= button_to "Edit", edit_incident_timesheet_safety_officer_path(params[:incident_id], so.id), :method => :get %></div> <div style="float:left"><%= button_to "Delete", incident_timesheet_safety_officer_path(params[:incident_id], so.id), :confirm => "Are you sure you want to delete this Safety Officer?", :method => :delete %></div></div></td>
		<td><%= so.first_hour %></td>
		<td><%= so.additional_hours %></td>
		<td><%= so.total_hours %></td>
		<td><%= so.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= so.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.emts %>
	<% @timesheet.emts.each do |emt| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>EMT</td>
		<td>First Hour ($<%= emt.rate1 %>)</td>
		<td>Additional Hours ($<%= emt.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= emt.name %> <div style="float:right"><div style="float:left"><%= button_to "Edit", edit_incident_timesheet_emt_path(params[:incident_id], emt.id), :method => :get %></div> <div style="float:left"><%= button_to "Delete", incident_timesheet_emt_path(params[:incident_id], emt.id), :confirm => "Are you sure you want to delete this EMT?", :controller => 'emts', :method => :delete %></div></div></td>
		<td><%= emt.first_hour %></td>
		<td><%= emt.additional_hours %></td>
		<td><%= emt.total_hours %></td>
		<td><%= emt.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= emt.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.hazmat_specialists %>
	<% @timesheet.hazmat_specialists.each do |hsp| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Hazmat Specialist</td>
		<td>First Hour ($<%= hsp.rate1 %>)</td>
		<td>Additional Hours ($<%= hsp.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= hsp.name %><div style="float:right"><div style="float:left"><%= button_to "Edit", edit_incident_timesheet_hazmat_specialist_path(params[:incident_id], hsp.id), :method => :get %></div><div style="float:left"> <%= button_to "Delete", incident_timesheet_hazmat_specialist_path(params[:incident_id], hsp.id), :confirm => "Are you sure you want to delete this Hazmat Specialist?", :controller => 'hazmat_specialists', :method => :delete %></div></div></td>
		<td><%= hsp.first_hour %></td>
		<td><%= hsp.additional_hours %></td>
		<td><%= hsp.total_hours %></td>
		<td><%= hsp.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= hsp.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.command_vehicles %>
	<% @timesheet.command_vehicles.each do |cv| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Command Vehicle</td>
		<td>First Hour ($<%= cv.rate1 %>)</td>
		<td>Additional Hours ($<%= cv.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= cv.name %> <div style="float:right"><div style="float:left"><%= button_to "Edit", edit_incident_timesheet_command_vehicle_path(params[:incident_id], cv.id), :method => :get %></div><div style="float:left"><%= button_to "Delete", incident_timesheet_command_vehicle_path(params[:incident_id], cv.id), :confirm => "Are you sure you want to delete this Command Vehicle?", :controller => 'command_vehicles', :method => :delete %></div></div></td>
		<td><%= cv.first_hour %></td>
		<td><%= cv.additional_hours %></td>
		<td><%= cv.total_hours %></td>
		<td><%= cv.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= cv.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.engines %>
	<% @timesheet.engines.each do |en| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Engine #</td>
		<td>First Hour ($<%= en.rate1 %>)</td>
		<td>Additional Hours ($<%= en.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>

		
	</tr>
	<tr>
		<td><%= en.name %> <div style="float:right"> <div style="float:left"><%= button_to "Edit", edit_incident_timesheet_engine_path(params[:incident_id], en.id), :method => :get %></div><div style="float:left"><%= button_to "Delete", incident_timesheet_engine_path(params[:incident_id], en.id), :confirm => "Are you sure you want to delete this Engine?", :controller => 'engines', :method => :delete %></div></div></td>
		<td><%= en.first_hour %></td>
		<td><%= en.additional_hours %></td>
		<td><%= en.total_hours %></td>
		<td><%= en.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= en.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.emergency_supports %>
	<% @timesheet.emergency_supports.each do |es| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Emergency Support</td>
		<td>First Hour ($<%= es.rate1 %>)</td>
		<td>Additional Hours ($<%= es.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= es.name %> <div style="float:right"> <div style="float:left"><%= button_to "Edit", edit_incident_timesheet_emergency_support_path(params[:incident_id], es.id), :method => :get %></div><div style="float:left"><%= button_to "Delete", incident_timesheet_emergency_support_path(params[:incident_id], es.id), :confirm => "Are you sure you want to delete this Emergency Support?", :controller => 'emergency_supports', :method => :delete %></div></div></td>
		<td><%= es.first_hour %></td>
		<td><%= es.additional_hours %></td>
		<td><%= es.total_hours %></td>
		<td><%= es.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= es.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.hazmat_units %>
	<% @timesheet.hazmat_units.each do |hu| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Hazmat Unit</td>
		<td>First Hour ($<%= hu.rate1 %>)</td>
		<td>Additional Hours ($<%= hu.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= hu.name %> <div style="float:right"><div style="float:left"><%= button_to "Edit", edit_incident_timesheet_hazmat_unit_path(params[:incident_id], hu.id), :method => :get %></div><div style="float:left"><%= button_to "Delete", incident_timesheet_hazmat_unit_path(params[:incident_id], hu.id), :confirm => "Are you sure you want to delete this Hazmat Unit?", :controller => 'hazmat_units', :method => :delete %></div></div></td>
		<td><%= hu.first_hour %></td>
		<td><%= hu.additional_hours %></td>
		<td><%= hu.total_hours %></td>
		<td><%= hu.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= hu.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.field_units %>
	<% @timesheet.field_units.each do |fu| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Field Unit</td>
		<td>First Hour ($<%= fu.rate1 %>)</td>
		<td>Additional Hours ($<%= fu.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= fu.name %><div style="float:right"><div style="float:left"><%= button_to "Edit", edit_incident_timesheet_field_unit_path(params[:incident_id], fu.id), :method => :get %></div><div style="float:left"> <%= button_to "Delete", incident_timesheet_field_unit_path(params[:incident_id], fu.id), :confirm => "Are you sure you want to delete this Field Unit?", :controller => 'field_units', :method => :delete %></div></div></td>
		<td><%= fu.first_hour %></td>
		<td><%= fu.additional_hours %></td>
		<td><%= fu.total_hours %></td>
		<td><%= fu.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= fu.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.pumpers %>
	<% @timesheet.pumpers.each do |pu| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Pumper</td>
		<td>First Hour ($<%= pu.rate1 %>)</td>
		<td>Additional Hours ($<%= pu.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= pu.name %> <div style="float:right"><div style="float:left"><%= button_to "Edit", edit_incident_timesheet_pumper_path(params[:incident_id], pu.id), :method => :get %></div><div style="float:left"><%= button_to "Delete", incident_timesheet_pumper_path(params[:incident_id], pu.id), :confirm => "Are you sure you want to delete this Pumper?", :controller => 'pumpers', :method => :delete %></div></div></td>
		<td><%= pu.first_hour %></td>
		<td><%= pu.additional_hours %></td>
		<td><%= pu.total_hours %></td>
		<td><%= pu.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= pu.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.tankers %>
	<% @timesheet.tankers.each do |ta| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Tanker</td>
		<td>First Hour ($<%= ta.rate1 %>)</td>
		<td>Additional Hours ($<%= ta.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= ta.name %> <div style="float:right"><div style="float:left"><%= button_to "Edit", edit_incident_timesheet_tanker_path(params[:incident_id], ta.id), :method => :get %></div><div style="float:left"><%= button_to "Delete", incident_timesheet_tanker_path(params[:incident_id], ta.id), :confirm => "Are you sure you want to delete this Tanker?", :controller => 'tankers', :method => :delete %></div></div></td>
		<td><%= ta.first_hour %></td>
		<td><%= ta.additional_hours %></td>
		<td><%= ta.total_hours %></td>
		<td><%= ta.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= ta.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.rescue_units %>
	<% @timesheet.rescue_units.each do |ru| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Rescue Unit</td>
		<td>First Hour ($<%= ru.rate1 %>)</td>
		<td>Additional Hours ($<%= ru.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= ru.name %> <div style="float:right"><div style="float:left"><%= button_to "Edit", edit_incident_timesheet_rescue_unit_path(params[:incident_id], ru.id), :method => :get %></div><div style="float:left"> <%= button_to "Delete", incident_timesheet_rescue_unit_path(params[:incident_id], ru.id), :confirm => "Are you sure you want to delete this Rescue Unit?", :controller => 'rescue_units', :method => :delete %></div></div></td>
		<td><%= ru.first_hour %></td>
		<td><%= ru.additional_hours %></td>
		<td><%= ru.total_hours %></td>
		<td><%= ru.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= ru.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.ladder_truck75s %>
	<% @timesheet.ladder_truck75s.each do |lt75| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Ladder Truck 75'</td>
		<td>First Hour ($<%= lt75.rate1 %>)</td>
		<td>Additional Hours ($<%= lt75.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= lt75.name %> <div style="float:right"><div style="float:left"><%= button_to "Edit", edit_incident_timesheet_ladder_truck75_path(params[:incident_id], lt75.id), :method => :get %></div><div style="float:left"> <%= button_to "Delete", incident_timesheet_ladder_truck75_path(params[:incident_id], lt75.id), :confirm => "Are you sure you want to delete this Ladder Truck?", :controller => 'ladder_truck75s', :method => :delete %></div></div></td>
		<td><%= lt75.first_hour %></td>
		<td><%= lt75.additional_hours %></td>
		<td><%= lt75.total_hours %></td>
		<td><%= lt75.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= lt75.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>
	
	<% if @timesheet.ladder_truck150s %>
	<% @timesheet.ladder_truck150s.each do |lt150| %>
	<tr style="font-weight:700;background-color:#66CCFF;">
		<td>Ladder Truck 150'</td>
		<td>First Hour ($<%= lt150.rate1 %>)</td>
		<td>Additional Hours ($<%= lt150.rate2 %>)</td>
		<td>Total Hours</td>
		<td>Hazmat Time (in hours)</td>
		<% if current_user.admin == "yes" %>
		<td>Total Amount</td>		
		<% end %>
		
	</tr>
	<tr>
		<td><%= lt150.name %> <div style="float:right"><div style="float:left"><%= button_to "Edit", edit_incident_timesheet_ladder_truck150_path(params[:incident_id], lt150.id), :method => :get %></div><div style="float:left"> <%= button_to "Delete", incident_timesheet_ladder_truck150_path(params[:incident_id], lt150.id), :confirm => "Are you sure you want to delete this Ladder Truck?", :controller => 'ladder_truck150s', :method => :delete %></div></div></td>
		<td><%= lt150.first_hour %></td>
		<td><%= lt150.additional_hours %></td>
		<td><%= lt150.total_hours %></td>
		<td><%= lt150.hazmat_hours %></td>
		<% if current_user.admin == "yes" %>
		<td>$<%= lt150.totalamount %></td>
		<% end %>
		
	</tr>
	<% end %>
	<% end %>

	
</table>
<h1>Materials <%= link_to '(edit)', edit_incident_mat_list_path, :style => "color:red;font-size:18px;" %></h1>

<table border="0" bordercolor="#000000" style="background-color:#FFF" width="75%" cellpadding="3" cellspacing="3">
   
 <tr style="font-weight:700;background-color:#66CCFF;">
		<th>Product Name</th>
		<th>Amount Used</th>
		</th>
	</tr>
	
	<% if @mat_list.knd %>
	<tr>
		<td>Kleen-N-Dry </td>
		<td><%= @mat_list.knd_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.gran %>
	<tr>
		<td>C.I.Agent Granules</td>
		<td><%= @mat_list.gran_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.hds %>
	<tr>
		<td>Hydrocarbon Detection Strips</td>
		<td><%= @mat_list.hds_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.dwb24 %>
	<tr>
		<td>De-watering Bag 18"x24" with 2" Neck</td>
		<td><%= @mat_list.dwb24_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.dwb36 %>
	<tr>
		<td>De-watering Bag 18"x36" with 2" Neck</td>
		<td><%= @mat_list.dwb36_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.dwb48 %>
	<tr>
		<td>De-watering Bag 18"x48" with 2" Neck</td>
		<td><%= @mat_list.dwb48_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.shborange %>
	<tr>
		<td>Sheen Boom (Orange) 3"x25'</td>
		<td><%= @mat_list.shborange_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.shbwhite %>
	<tr>
		<td>Sheen Boom (White core rope)</td>
		<td><%= @mat_list.shbwhite_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.qdb12 %>
	<tr>
		<td>Quick Deployment Boom 12'</td>
		<td><%= @mat_list.qdb12_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.qdb25 %>
	<tr>
		<td>Quick Deployment Boom 25'</td>
		<td><%= @mat_list.qdb25_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.qdb100 %>
	<tr>
		<td>Quick Deployment Boom 100'</td>
		<td><%= @mat_list.qdb100_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.mb20 %>
	<tr>
		<td>Marine Boom 3"x20"</td>
		<td><%= @mat_list.mb20_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.mb5 %>
	<tr>
		<td>Marine Boom 3"x5'</td>
		<td><%= @mat_list.mb5_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.mb10 %>
	<tr>
		<td>Marine Boom 3"x10'</td>
		<td><%= @mat_list.mb10_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.pillow %>
	<tr>
		<td>Pillow A 12"x12"</td>
		<td><%= @mat_list.pillow_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.evac %>
	<tr>
		<td>EVAC 2" Camlock Fitting</td>
		<td><%= @mat_list.evac_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.abboom %>
	<tr>
		<td>Absorbent Boom 5"x10' (4 pack)</td>
		<td><%= @mat_list.abboom_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.abpad %>
	<tr>
		<td>Absorbent Pad (oil only) 15"x19" (100 pack)</td>
		<td><%= @mat_list.abpad_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.putty %>
	<tr>
		<td>Tank Repair Putty</td>
		<td><%= @mat_list.putty_am %></td>
	</tr>
	<% end %>
	
	<% if @mat_list.stay %>
	<tr>
		<td>Stay Dry</td>
		<td><%= @mat_list.stay_am %></td>
	</tr>
	<% end %>	
	
	<% if @mat_list.soda %>
	<tr>
		<td>Soda Ash</td>
		<td><%= @mat_list.soda_am %></td>
	</tr>
	<% end %>	
	
	<% if @mat_list.strike %>
	<tr>
		<td>1st Strike</td>
		<td><%= @mat_list.strike_am %></td>
	</tr>
	<% end %>	
	
	<% if @mat_list.wtrPolymers %>
	<tr>
		<td>C.I.Agent Water Polymers</td>
		<td><%= @mat_list.wtrPolymers_am %></td>
	</tr>
	<% end %>	
	
	</table>
	
	<% if @mat_list.additional != '' %>
	<h3>Additional Comments:</h3>
	<%= @mat_list.additional %></td>
	<% end %>

	
	
	
	</table>





