<%= link_to 'Back', edit_incident_timesheet_path %>
<hr />

<p id="notice"><%= notice %></p>

<p>
  <b>Knd:</b>
  <%= @mat_list.knd %>
</p>

<p>
  <b>Knd am:</b>
  <%= @mat_list.knd_am %>
</p>

<p>
  <b>Gran:</b>
  <%= @mat_list.gran %>
</p>

<p>
  <b>Gran am:</b>
  <%= @mat_list.gran_am %>
</p>

<p>
  <b>Hds:</b>
  <%= @mat_list.hds %>
</p>

<p>
  <b>Hds am:</b>
  <%= @mat_list.hds_am %>
</p>

<p>
  <b>Dwb24:</b>
  <%= @mat_list.dwb24 %>
</p>

<p>
  <b>Dwb24 am:</b>
  <%= @mat_list.dwb24_am %>
</p>

<p>
  <b>Dwb36:</b>
  <%= @mat_list.dwb36 %>
</p>

<p>
  <b>Dwb36 am:</b>
  <%= @mat_list.dwb36_am %>
</p>

<p>
  <b>Dwb48:</b>
  <%= @mat_list.dwb48 %>
</p>

<p>
  <b>Dwb48 am:</b>
  <%= @mat_list.dwb48_am %>
</p>

<p>
  <b>Shborange:</b>
  <%= @mat_list.shborange %>
</p>

<p>
  <b>Shborange am:</b>
  <%= @mat_list.shborange_am %>
</p>

<p>
  <b>Shbwhite:</b>
  <%= @mat_list.shbwhite %>
</p>

<p>
  <b>Shbwhite am:</b>
  <%= @mat_list.shbwhite_am %>
</p>

<p>
  <b>Qdb12:</b>
  <%= @mat_list.qdb12 %>
</p>

<p>
  <b>Qdb12 am:</b>
  <%= @mat_list.qdb12_am %>
</p>

<p>
  <b>Qdb25:</b>
  <%= @mat_list.qdb25 %>
</p>

<p>
  <b>Qdb25 am:</b>
  <%= @mat_list.qdb25_am %>
</p>

<p>
  <b>Qdb100:</b>
  <%= @mat_list.qdb100 %>
</p>

<p>
  <b>Qdb100 am:</b>
  <%= @mat_list.qdb100_am %>
</p>

<p>
  <b>Mb20:</b>
  <%= @mat_list.mb20 %>
</p>

<p>
  <b>Mb20 am:</b>
  <%= @mat_list.mb20_am %>
</p>

<p>
  <b>Mb5:</b>
  <%= @mat_list.mb5 %>
</p>

<p>
  <b>Mb5 am:</b>
  <%= @mat_list.mb5_am %>
</p>

<p>
  <b>Mb10:</b>
  <%= @mat_list.mb10 %>
</p>

<p>
  <b>Mb10 am:</b>
  <%= @mat_list.mb10_am %>
</p>

<p>
  <b>Pillow:</b>
  <%= @mat_list.pillow %>
</p>

<p>
  <b>Pillow am:</b>
  <%= @mat_list.pillow_am %>
</p>

<p>
  <b>Evac:</b>
  <%= @mat_list.evac %>
</p>

<p>
  <b>Evac am:</b>
  <%= @mat_list.evac_am %>
</p>

<p>
  <b>Abboom:</b>
  <%= @mat_list.abboom %>
</p>

<p>
  <b>Abboom am:</b>
  <%= @mat_list.abboom_am %>
</p>

<p>
  <b>Abpad:</b>
  <%= @mat_list.abpad %>
</p>

<p>
  <b>Abpad am:</b>
  <%= @mat_list.abpad_am %>
</p>

<p>
  <b>Putty:</b>
  <%= @mat_list.putty %>
</p>

<p>
  <b>Putty am:</b>
  <%= @mat_list.putty_am %>
</p>

<p>
  <b>Additional:</b>
  <%= @mat_list.additional %>
</p>

